*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Variables */
    
    /* Colors */
    --tower-sheen       : #BFBFC9;
    --tower-shadow      : #4A4A4B;
    --tower-background  : #6F6F75;
    
    --path-sheen        : #4E5252;
    --path-shadow       : #343636;
    --path-background   : #3F4242;

    /* Border */
    --cell-round-amount : 15px;
    --cell-border       : solid 5px;

    /* Grid */
    --cell-size         : 100px
}

/* Main Styles */

body {
    background-color: rgb(25, 23, 26);
    overflow: hidden;
}

article {
    display: flex;
}

/* board classes */

.board {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    position: absolute;
}

.board * {
    width: var(--cell-size);
    height: var(--cell-size);
}

.empty-cell {
    background-color: rgba(0, 0, 0, 0);
}

.enemy-spawn-cell {
    background-color: purple;
}

.player-base-cell {
    background-color: blue;
}

.tower-cell {
    background-color: #6F6F75;
}

.path-cell {
    background-color: #3F4242;
}